<div class="container-all" id="id-container-all">
  <div class="container-logo">
    <div class="container-avatar">
      <%= image_tag("logosample.jpg", :alt => "logosample feed", class: "avatar-large") %>
    </div>
    <div class="container-company-intro-info">
      <h1>CLEANING PRO SERVICES</h1>
      <h2>Le service de nettoyage à l'écoute de vos besoins.</h2>
    </div>
  </div>

  <%= render 'shared/navbar' %>

  <div class="main-container" id="who">
<!--     <div class="container-company-intro">
    </div> -->

    <div class="container-who-we-are">
      <div class="container-categories">
        <h1>Qui Sommes Nous?</h1>
      </div>
      <div class="container-who-we-are-details">
        <!-- <img src="https://images.unsplash.com/photo-1544717297-fa95b6ee9643?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" alt=""> -->
        <div class="container-who-we-are-details-text">
          <p>Lorem ipsum dolor sit amet, his te liber conclusionemque, his docendi sadipscing no. Te est persius perpetua persecuti, et has quando ponderum perfecto.
            Cu erant iuvaret dissentiunt vix, sea ne assum essent putant, sit in officiis scriptorem delicatissimi. Ex verear ceteros his, ius alia aliquam delicata eu.
            Quaeque facilis at eam. Eu ferri munere eam, pro iusto dissentiet ea.Ad graeco disputationi definitionem quo, nec in zril forensibus, qui cu agam repudiare assueverit. Per et tamquam noluisse ullamcorper. At his ullum recteque eloquentiam.
          </p>
          <p>Nonumy deterruezifjpozejpzeojzpeoj pojedpoej pzoejfpzoej zeopfjjz eepoj isset cu mea. Duo augue docendi accumsan ea. Lorem ipsum dolor sit amet, his te liber conclusionemque, his docendi sadipscing no. Te est persius perpetua persecuti, et has quando ponderum perfecto.
            Cu erant iuvaret dissentiunt vix, sea ne assum essent putant, sit in officiis scriptorem delicatissimi. Ex verear ceteros his, ius alia aliquam delicata eu.
            Quaeque facilis at eam. Eu ferri munere eam, pro iusto dissentiet ea.Ad graeco disputationi definitionem quo, nec in zril forensibus, qui cu agam repudiare assueverit.
          </p>
        </div>
      </div>
    </div>

    <div class="container-services" id="services">
      <div class="container-categories">
        <h1>Services Proposés</h1>
      </div>
      <div class="container-listofservices">
        <div class="card-service">
          <div class="card-service-inner">
            <div class="card-service-front">
              <%= image_tag "bureaux.jpeg" %>
              <h1>Bureaux & Locaux Professionnels</h1>
            </div>
            <div class="card-service-back">
              <div class="card-service-infos">
                <div>
                  <button class="btn btn-ghost-card" onclick="location.href='devis'">Devis Gratuit</button>
                  <div class="service-details">
                    <h1>Bureaux & Locaux Professionnels</h1>
                    <p>G&A vous propose un nettoyage régulier ou ponctuel d’espace de travail. Presentez-nous vos besoins et nous pourrons définir ensemble un service à la carte qui convient le mieux à votre activité professionnelle.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-service">
          <div class="card-service-inner">
            <div class="card-service-front">
              <%= image_tag "copropriétés.jpg" %>
              <h1>Copropriétés & Espaces Communs</h1>
            </div>
            <div class="card-service-back">
              <div class="card-service-infos">
                <div>
                  <button class="btn btn-ghost-card" onclick="location.href='devis'">Devis Gratuit</button>
                  <div class="service-details">
                    <h1>Copropriétés & Espaces Communs</h1>
                    <p>G&A vous propose un service discret, rapide et efficace pour vous aider à entretenir copropriétés et espaces communs d'immeubles de logement.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-service">
          <div class="card-service-inner">
            <div class="card-service-front">
              <%= image_tag "wall-painting.jpeg" %>
              <h1>Interventions Spécialisées</h1>
            </div>
            <div class="card-service-back">
              <div class="card-service-infos">
                <div>
                  <button class="btn btn-ghost-card" onclick="location.href='devis'">Devis Gratuit</button>
                  <div class="service-details">
                    <h1>Interventions Spécialisées</h1>
                    <p>Des travaux ont lieu dans vos bureaux et vous souhaitez un nettoyage professionnel pour remettre le tout en états? Besoin d'un petit raffraichissement de vos espaces communs? D'autres besoins? Parlez-nous en, et nous apporterons une solution à votre demande...</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-service">
          <div class="card-service-inner">
            <div class="card-service-front">
              <%= image_tag "entretien_espaces_verts.jpg"%>
              <h1>Entretien Espaces Verts</h1>
            </div>
            <div class="card-service-back">
              <div class="card-service-infos">
                <div>
                  <button class="btn btn-ghost-card" onclick="location.href='devis'">Devis Gratuit</button>
                  <div class="service-details">
                    <h1>Entretien Espaces Verts</h1>
                    <p>Vous souhaitez entretenir un espace vert dans votre copropriété ou lieu de travail, mais n'avez pas le temps ou le materiel adéquat? G&A peut s'en charger!</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>

  <div class="container-clients-input" id='clients'>
    <h1>Nos clients vous diront que...</h1>
    <div class="card-input">
      <div class="top-card">
        <h2>Travaux de rafraîchissement et nettoyage</h2>
        <div class="rating-card d-flex align-items-center">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
        </div>
      </div>
      <div class="comment-card flex-grow">
        <p>Je devais raffraîchir un appartement suite à un changement de locataire.
          Entre les deux locations, il y avait un weekend seulement. J'ai fait appel à G&A,
          qui a réagit très arpidement: raffraîchissement des peintures pour 100m2 d'appartement,
          grand nettoyage de l'appartement (sol, armoires, vitres, portes, interrupteurs, SDB avec tous les sanitaires,
          cusine et tous les élecctroménagés, terrasse) et petite réparatition au niveau de l'écolement d'eau dans la
          cuisine. J'etais très satisfaite du service et mes nouveaux locataires ravis.
        </p>
        <cite>-Mme Morganti, Propriétaire</cite>
      </div>
    </div>
    <div class="card-input">
      <div class="top-card">
        <h2>Titre de commentaire</h2>
        <div class="rating-card d-flex align-items-center">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star not-checked"></span>
        </div>
      </div>
      <div class="comment-card flex-grow">
        <p>Lorem ipsum dolor sit amet, ut vix regione albucius torquatos, dolor nonumy id sed.
        Dico soluta argumentum eu vel, eu quis postea vix. Malis suscipiantur per an, sea eu suas
        utroque vituperatoribus, quo altera numquam an. Duo case conceptam ne, vis hinc feugiat molestie te.
        </p>
        <cite>- The Scream, Syndic</cite>
      </div>
    </div>
    <div class="card-input">
      <div class="top-card">
        <h2>Titre de commentaire</h2>
        <div class="rating-card d-flex align-items-center">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star not-checked"></span>
        </div>
      </div>
      <div class="comment-card flex-grow">
        <p>Lorem ipsum dolor sit amet, ut vix regione albucius torquatos, dolor nonumy id sed.
        Dico soluta argumentum eu vel, eu quis postea vix. Malis suscipiantur per an, sea eu suas
        utroque vituperatoribus, quo altera numquam an. Duo case conceptam ne, vis hinc feugiat molestie te.
        </p>
        <cite>- The Scream, Syndic</cite>
      </div>
    </div>
  </div>

  <%= render 'shared/footer' %>

</div>
