<div class="container-all">
  <div class="container-logo">
    <div class="container-avatar">
      <%= image_tag("color-logo.png", :alt => "logosample feed", class: "avatar-large") %>
    </div>
    <div class="container-company-intro-info">
      <h1>CLEANING PRO SERVICES</h1>
      <h2>Le service de nettoyage à l'écoute de vos besoins.</h2>
    </div>
  </div>
<!--  <%= render './shared/flashes' %> -->
  <%= render 'shared/navbar' %>

  <div class="main-container">
    <div class="container-who-we-are", id= 'who'>
      <h1>Qui Sommes-Nous?</h1>
      <div class="container-who-we-are-details d-flex justify-content-center">
        <!-- <img src="https://images.unsplash.com/photo-1544717297-fa95b6ee9643?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" alt=""> -->
        <div class="container-who-we-are-details-text col-8">
          <p>Nous sommes une société qui existe depuis 2015 et qui a grandit petit à petit principalement via le bouche à oreilles.
             Chaque devis est analysé avec soin afin de pouvoir satisfaire un maximum les (futurs) clients.</p>
          <p>Nos clients actuels sont des copropriétés et des agences bancaires indépendantes. Vous pourrez trouver leurs avis sur notre travail dans la rubrique "L'Expérience Client".</p>
          <p>Notre entreprise essaie d’utiliser les produits écologiques à condition que ceux-ci soient aussi efficace que les produits « classiques ». A efficacité égale, nous nous tournerons donc vers le produit écologique afin de répondre au mieux aux problématiques climatiques et sanitaires actuelles.</p>
          <cite>- Laurent Vanesse, Gérant G&A Cleaning Pro Services</cite>
        </div>
        <div class="g-a-contact col-4">
          <%= image_tag("color-logo.png", :alt => "logosample feed", class: "avatar-medium") %>
          <h2>G&A Cleaning Pro Services</h2>
          <p>Nr de TVA: 0717771789</p>
          <p>55, Terkluizendreef</p>
          <p>1640 Sint-Genesius-Rode</p>
          <p>0485/13.03.38</p>
          <p>info@gacleaningproservices.com</p>
        </div>
      </div>
    </div>
    <div class="container-services" id="services">
      <h1>Services Proposés</h1>
      <div class="container-listofservices d-flex flex-grow justify-content-center align-items-center">
        <div class="cards">
          <div class="card-service" id="service-1">
            <div class="card-service-inner">
              <div class="card-service-front">
                <%= image_tag "bureaux.jpg" %>
                <h3>Bureaux & Locaux Professionnels</h3>
              </div>
              <div class="card-service-back">
                <div class="service-details">
                  <%= link_to "Devis Gatuit", devis_path, id: "btn-ghost-card" %>
                  <h3>Bureaux & Locaux Professionnels</h3>
                  <p>G&A vous propose un nettoyage régulier ou ponctuel d’espace de travail. Presentez-nous vos besoins et nous pourrons définir ensemble un service à la carte qui convient le mieux à votre activité professionnelle.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-service" id="service-2">
            <div class="card-service-inner">
              <div class="card-service-front">
                <%= image_tag "copropriétés.jpg" %>
                <h3>Copropriétés & Espaces Communs</h3>
              </div>
              <div class="card-service-back">
                <div class="service-details">
                  <%= link_to "Devis Gatuit", devis_path, id: "btn-ghost-card" %>
                  <h3>Copropriétés & Espaces Communs</h3>
                  <p>G&A vous propose un service discret, rapide et efficace pour vous aider à entretenir copropriétés et espaces communs d'immeubles de logement.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-service" id="service-3">
            <div class="card-service-inner">
              <div class="card-service-front">
                <%= image_tag "wall-painting.jpg" %>
                <h3>Interventions Spécialisées</h3>
              </div>
              <div class="card-service-back">
                <div class="service-details">
                  <%= link_to "Devis Gatuit", devis_path, id: "btn-ghost-card" %>
                  <h3>Interventions Spécialisées</h3>
                  <p>Des travaux ont lieu dans vos bureaux et vous souhaitez un nettoyage professionnel pour remettre le tout en état? Besoin d'un petit raffraichissement de vos espaces communs? D'autres besoins? Parlez-nous en, et nous apporterons une solution à votre demande...</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-service" id="service-4">
            <div class="card-service-inner">
              <div class="card-service-front">
                <%= image_tag "entretien_espaces_verts.jpg"%>
                <h3>Entretien Espaces Verts</h3>
              </div>
              <div class="card-service-back">
                <div class="service-details">
                  <%= link_to "Devis Gatuit", devis_path, id: "btn-ghost-card" %>
                  <h3>Entretien Espaces Verts</h3>
                  <p>Vous souhaitez entretenir un espace vert dans votre copropriété ou lieu de travail, mais n'avez pas le temps ou le materiel adéquat? G&A peut s'en charger!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-clients-input d-flex align-items-center" id='clients'>
      <h1>L'Expérience Client</h1>
      <div class="card-input">
        <div class="top-card d-flex align-items-center">
          <h2>Travaux de rafraîchissement et nettoyage</h2>
        </div>
        <div class="comment-card flex-grow">
          <p>Je devais raffraîchir un appartement suite à un changement de locataire.
            Entre les deux locations, il y avait un weekend seulement. J'ai fait appel à G&A,
            qui a réagit très arpidement: raffraîchissement des peintures pour 100m2 d'appartement,
            grand nettoyage de l'appartement (sol, armoires, vitres, portes, interrupteurs, SDB avec tous les sanitaires,
            cusine et tous les élecctroménagés, terrasse) et petite réparatition au niveau de l'écolement d'eau dans la
            cuisine. J'etais très satisfaite du service et mes nouveaux locataires ravis.
          </p>
          <cite>-Mme Morganti, Propriétaire</cite>
        </div>
      </div>
      <div class="card-input">
        <div class="top-card  d-flex align-items-center">
          <h2>Nettoyage de Copropriété</h2>
          </div>
          <div class="comment-card flex-grow">
            <p>G&A s'occupe de l'entretien courant du bâtiment où j'habite en tant que locataire.
              Il n'y a jamais eu de problèmes. Le personnel est très gentil, poli, ainsi qu'efficient et professionnel.
              C'est aussi beaucoup moins cher que ce que je payais avant.
            </p>
            <cite>-Mlle Impellizzeri, Locataire</cite>
          </div>
        </div>
      <%= link_to "Partager Votre Expérience", reviews_path, id: "btn-ghost-form" %>
            </div>
    </div>
  <%= render 'shared/footer' %>
</div>
