<div class="container-all" id="id-container-all">
  <%= render 'shared/navbar' %>
  <div class="container-submission-request d-flex">
    <h2>Merci d'avoir contacter G&A Cleaning Pro Services!</h2>
<!--     <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag("color-logo-nobckgrd.png", :alt => "logosample feed", class: "avatar-medium")  %>
    <% end %> -->

    <div class="g-a-contact">
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag("color-logo-nobckgrd.png", :alt => "logosample feed", class: "avatar-medium")  %>
      <% end %>
      <h2>G&A Cleaning Pro Services</h2>
      <p>Nr de TVA: 0717771789</p>
      <p>55, Terkluizendreef</p>
      <p>1640 Sint-Genesius-Rode</p>
      <p>0485/13.03.38</p>
      <p>info@gacleaningproservices.com</p>
    </div>
  </div>
  <%= render 'shared/footer' %>
</div>
