<div class="container-all" id="id-container-all">
  <%= render 'shared/navbar' %>
  <div class="card-form">
    <h1>Demande de Contact</h1>
    <div class="card-inner">
      <div class="form d-flex justify-content-center align-items-center col-12 col-md-6">
        <%= simple_form_for(@contact) do |f| %>
            <div class="card-info-prestations">
              Prénom*:<br>
              <%= f.input :prenom, label: false %>
            </div>
            <div class="card-info-prestations">
              Nom*:<br>
              <%= f.input :nom, label: false%>
            </div>
            <div class="card-info-prestations">
                Téléphone*:<br>
              <%= f.input :phone, label: false%>
            </div>
            <div class="card-info-prestations">
              Email*:<br>
              <%= f.input :email, label: false  %>
            </div>
            <div class="card-info-prestations">
              Service sélectionné*<br>
              <%= f.input :service, label: false, collection: ["Bureaux & Locaux Professionnels", "Copropriétés & Espaces Communs", "Interventions Spécialisées", "Entretien Espaces Verts"]  %></input>
            </div>
            <div class="card-info-prestations">
              Informations complémentaires:<br>
              <%= f.input :additional_info, label: 'Info complémentaires', label: false, as: :text%>
            </div>
          <%= f.button :submit, 'Envoi du Formulaire', id: "btn-ghost-form", data: { confirm: "Merci!" }%>
        <% end %>
      </div>
      <div class="g-a-contact col-12 col-md-6">
        <%= image_tag("logo_without_slogan.png", :alt => "logosample feed", class: "avatar-medium") %>
        <h4><strong>Cleaning Pro Services</strong></h4>
        <p>Nr de TVA: 0717771789</p>
        <p>55, Terkluizendreef</p>
        <p>1640 Sint-Genesius-Rode</p>
        <p>0485/13.03.38</p>
        <p>info@gacleaningproservices.com</p>
      </div>
    </div>
    <cite>* Champs obligatoires. Si ces informations ne sont pas complétées, le formulaire ne sera pas soumis. Merci de votre compréhension.</cite>
  </div>
  <%= render 'shared/footer' %>
</div>

