<div class="container-all" id="id-container-all">
  <%= render 'shared/navbar' %>
  <div class="card-form">
    <h1>Demande de Contact</h1>
    <div class="card-inner">
      <div class="form d-flex">
        <%= simple_form_for(@contact) do |f| %>
            <div class="card-info-prestations">
              Prénom:<br>
              <%= f.input :prenom, label: false %>
            </div>
            <div class="card-info-prestations">
              Nom:<br>
              <%= f.input :nom, label: false%>
            </div>
            <div class="card-info-prestations">
                Téléphone:<br>
              <%= f.input :phone, label: false%>
            </div>
            <div class="card-info-prestations">
              Email:<br>
              <%= f.input :email, label: false  %>
            </div>
            <div class="card-info-prestations">
              Service sélectionné<br>
              <%= f.input :service, label: false, collection: ["Bureaux & Locaux Professionnels", "Copropriétés & Espaces Communs", "Interventions Spécialisées", "Entretien Espaces Verts"]  %></input>
            </div>
            <div class="card-info-prestations">
              Informations complémentaires:<br>
              <%= f.input :additional_info, label: 'Info complémentaires', label: false, as: :text%>
            </div>
          <%= f.button :submit, 'Envoi du Formulaire', id: "btn-ghost-form"%>
        <% end %>
<!--          <form>
  <input type="prenom">
  <input type="nom">
  <input type="phone">
  <input type="email">
  <input type="service">
   <input type="button" onclick="alert('Hello World!')" value="Click Me!">
</form> -->
      </div>
      <div class="g-a-contact">
        <%= image_tag("logosample.jpg", :alt => "logosample feed", class: "avatar-medium") %>
        <h2>G&A Cleaning Pro Services</h2>
        <p>Nr de TVA: 0717771789</p>
        <p>55, Terkluizendreef</p>
        <p>1640 Sint-Genesius-Rode</p>
        <p>0485/13.03.38</p>
      </div>
    </div>
  </div>
  <%= render 'shared/footer' %>
</div>

