<div class="container-all" id="id-container-all">
  <%= render 'shared/navbar' %>
  <div class="container-index-dashboard ">
  <div class="card-form">
    <h1>Partager Votre Expérience</h1>

    <div class="card-inner">
      <div class="form d-flex justify-content-center align-items-center col-12 col-md-6">
        <%= simple_form_for(@review) do |f| %>
          <div class="card-info-prestations">
            Titre*:<br>
            <%= f.input :title, label: 'Titre du commentaire', label: false, error: 'Champ obligatoire, merci de compléter' %>
          </div>
          <div class="card-info-prestations">
            Evaluation*:<br>
            <%= f.input :rating, label: 'Evaluation', label: false, error: 'Champ obligatoire, merci de compléter', collection: (1..5)  %>
          </div>
          <div class="card-info-prestations">
            Contenu*:<br>
            <%= f.input :content, label: 'Contenu', label: false, error: 'Champ obligatoire, merci de compléter'  %>
          </div>
          <div class="card-info-prestations">
            Référence*:<br>
            <%= f.input :writer, label: 'Référence', label: false, error: 'Champ obligatoire, merci de compléter'  %>
          </div>
          <div class="card-info-prestations">
            A bénéficié du service en tant que<br>
            <%= f.input :role, label: 'A bénéficier du service en tant que', label: false%>
          </div>
           Status<br>
            <%= f.input :status, label: 'Etat', label: false, collection: ["Done", "Pending", "Closed"]%>
          </div>

          <div class="card-info-prestations">
            <%= f.button :submit, 'Soumettre le commentaire', id: "btn-ghost-form"%>
          </div>
        <% end %>

      </div>
    </div>
  </div>
  </div>
  <%= render 'shared/footer' %>
</div>

