<div class="container-all-dashboard" id="id-container-all">
  <%= render 'shared/navbar' %>
  <div class="card-form-dashboard">
      <h1>Revues des Clients</h1>
      <table style="width:100%">
        <tr class="col-name">
<!--           <th>Status</th> -->
          <th>Titre</th>
          <th>Contenu</th>
          <th>Rating</th>
          <th>Nom</th>
          <th>Role</th>
<!--           <th>Statut</th>
          <th>Mettre à Jous</th>
          <th>Eliminer</th> -->
        </tr>
        <% @reviews.each do |r|%>
          <tr>
            <!-- <td><i class="far fa-pause-circle"></i></td> -->
            <td><%= r.title %></td>
            <td><%= r.content %></td>
            <td><%= r.rating %></td>
            <td><%= r.writer %></td>
            <td><%= r.role %></td>
            <!-- <td><i class="far fa-edit" id="update-icon"></i></td> -->
            <td><%= link_to reviews_destroy_path(r.id), method: :delete, data: { confirm: "Est-vous sûr?" } do %>
                  <i class="fa fa-trash"></i>
                <% end %></td>
          </tr>
        <% end %>
      </table>

        </div>
  <%= render 'shared/footer' %>
</div>
