<div class="container-all-dashboard" id="id-container-all">
  <%= render 'shared/navbar' %>
  <div class="container-index-dashboard">
  <div class="card-form">
<h1>Revue nr. <%= @review.id %></h1>
      <table style="width:100%">
        <tr class="col-name">
          <td>Status</td><td><%= @review.status %></td>
        </tr>
        <tr class="col-name">
          <td>Evaluation</td><td><%= @review.rating %></td>
        </tr>
        <tr class="col-name">
          <td>Contenu</td><td><%= @review.content %></td>
        </tr>
        <tr class="col-name">
          <td>Référence</td><td><%= @review.writer %></td>
        </tr>
        <tr class="col-name">
          <td>Role</td><td><%= @review.role %></td>
        </tr>
      </table>
      <%= link_to review_edit_path do %>
        <i class="far fa-edit" id="update"></i>
        <% end %>
        </div>
  </div>
  <%= render 'shared/footer' %>
</div>

